<header id="header" class="header sticky-top">
  <!-- Main Header -->
  <div class="main-header bg-white">
    <div class="container-fluid container-xl">
      <div class="d-flex py-3 align-items-center justify-content-between">

        <!-- Logo -->
        <a routerLink="/admin/home" class="logo d-flex align-items-center text-dark">
          <h1 class="sitename mb-0">Hello Admin</h1>
        </a>
        
        <!-- Actions -->
        <div class="header-actions d-flex align-items-center justify-content-end">

          <!-- Account if the admin will adjust his account -->
          <!-- <div class="dropdown account-dropdown">
            <button class="header-action-btn text-dark" data-bs-toggle="dropdown">
              <i class="bi bi-person"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <div class="dropdown-header">
                <h6>Admin Account</h6>
                <p class="mb-0">Manage your admin settings</p>
              </div>
              <div class="dropdown-body">
                <a class="dropdown-item d-flex align-items-center" routerLink="/admin/home">
                  <i class="bi bi-speedometer2 me-2"></i>
                  <span>Dashboard</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" routerLink="/account">
                  <i class="bi bi-person-circle me-2"></i>
                  <span>My Profile</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" routerLink="/account">
                  <i class="bi bi-gear me-2"></i>
                  <span>Settings</span>
                </a>
              </div>
              <div class="dropdown-footer">
                <button class="btn btn-danger w-100">Logout</button>
              </div>
            </div>
          </div> -->

          <!-- Mobile Navigation Toggle -->
          <i class="mobile-nav-toggle d-xl-none bi bi-list me-0 text-dark"></i>

        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <div class="header-nav bg-dark border-top border-secondary">
    <div class="container-fluid container-xl position-relative">
      <nav id="navmenu" class="navmenu">
        <ul class="flex-row justify-content-center">
          <li><a routerLink="/admin/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/admin/users" routerLinkActive="active">Users</a></li>
          <li><a routerLink="/admin/products" routerLinkActive="active">Products</a></li>
          <li><a routerLink="/admin/categories" routerLinkActive="active">Categories</a></li>
          <li><a routerLink="/admin/orders" routerLinkActive="active">Orders</a></li>
        </ul>
      </nav>
    </div>
  </div>

</header>
